<launch>
    <node pkg="rosserial_python" name="rosserial_lino" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="115200" />
    </node>

    <!-- IMU Relay and Filter -->
    <!-- <include file="$(find amr)/launch/include/imu/imu.launch" /> -->

    <!-- Publish Linorobot odometry -->
    <node pkg="amr" name="amr_base_node" type="amr_base_node"></node>

</launch>