<launch>


    <!-- roslaunch arguments -->
    <arg name="paused" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
  
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find amr_gazebo)/worlds/no_roof_small_warehouse.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    </include>
      
    <param name="robot_description" command="$(find xacro)/xacro '$(find amr_description)/urdf/amr.urdf.xacro'"/>
    <!-- <param name="pid_gains" file="$(find amr_gazebo)/config/wheel_pid.yaml"/> -->

    <node name="amr_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
    args="-urdf -param robot_description -model amr"/>

    

      <arg name="model" />
      <param name="use_gui" value="true"/>
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_description)/rviz/amr_rviz_config.rviz" required="true"/>

  </launch>